#title {
    font-size: 400%;
    width: 60vmax;
    background-color: rgb(220, 252, 255);
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: rgb(220, 252, 255);
  }

#image {
  background-color: rgb(220, 252, 255);
    max-width: 100%;
    height: auto;
    display: block;
  }

  #body {
    background-color: rgb(220, 252, 255);
    text-align: center;
  }




  @media only screen and (min-width:480px)
  {

  }

  @media only screen and (min-width:767px)
  {

  }

  @media only screen and (min-width:991px)
  {

  }

  @media only screen and (min-width:1200px)
  {
 .font {
    padding: 0px 200px 15px 200px;
        }
  }

  @media(orientation: landscape)
  {

  }